<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Information</title>
</head>
<body>
    <h1>Enter Barcode</h1>
    <input type="text" id="barcodeInput" placeholder="Enter barcode">
    <button id="submitButton">Submit</button>

    <div id="productInfo"></div>

    <script>
        document.getElementById('submitButton').addEventListener('click', async () => {
            const barcode = document.getElementById('barcodeInput').value;
            try {
                const response = await fetch(`https://world.openfoodfacts.net/api/v3/product/${barcode}`);
                const data = await response.json();
                const product = data.data.product;
                const productInfoElement = document.getElementById('productInfo');
                console.log(product)
                productInfoElement.innerHTML = `
                    <h2>Product Information</h2>
                    <img src="${product.image_url}" alt="Product Image">
                    <p><strong>Name:</strong> ${product.product_name}</p>
                    <p><strong>Brand:</strong> ${product.brands}</p>
                    <p><strong>Place of purchase:</strong> ${product.stores}</p>
                    <p><strong>Quantity:</strong> ${product.quantity}</p>
                    <p><strong>NovaGroup:</strong> ${product.nova_group}</p>
                    <p><strong>Number of Servings:</strong> ${product.nutriments.serving_quantity}</p>
                    <p><strong>Ingredients:</strong> ${product.ingredients_text}</p>
                    <p><strong>Carbohydrates:</strong> ${product.nutriments.carbohydrates}</p>
                    <p><strong>Energy:</strong> ${product.nutriments.energy}</p>
                    <p><strong>Fat:</strong> ${product.nutriments.fat}</p>
                    <p><strong>Saturated Fat:</strong> ${product.nutriments['saturated-fat']}</p>
                    <p><strong>Fiber:</strong> ${product.nutriments.fiber}</p>
                    <p><strong>Salt:</strong> ${product.nutriments.salt}</p>
                    <p><strong>Proteins:</strong> ${product.nutriments.proteins}</p>
                    <p><strong>Sodium:</strong> ${product.nutriments.sodium}</p>
                    <p><strong>Sugars:</strong> ${product.nutriments.sugars}</p>
                `;
            } catch (error) {
                console.error('Error:', error);
            }
        });
    </script>
</body>
</html>
